

body {
  background-color: #fff6cc;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}

html,body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ff9751;
  padding: 10px 0;
  z-index: 1000;
  text-align: center;
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 100%;
  background: #011feb;
  text-align: center;
}

.nav-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav-button {
  background-color: #f16f3e;
  color: #fff;
  border: 2px solid #ffa56f;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 14px;
  width: 15%;
}

.nav-button:hover {
  background-color: #ffa56f;
  color: #fff;
}



.card {
  background-color: #f16f3e;
  border-radius: 15px; /* Borda com curva redonda */
  padding: 0.5%;
}

.card-header {
  color: #fff;
  background-color: #f16f3e;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-content {
  background-color: #fff;
  color: #f16f3e;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: grid;
  grid-template-rows: repeat(6, 10vh) 5vh;
  grid-gap: 0.5rem;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
  overflow-y: auto;
}

.option {
  background-color: #f16f3e;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.remove-option {
  cursor: pointer;
  margin-left: 5px;
}



.image-section {
  text-align: center;
}

.image-section img {
  height: 80%;
  max-width: 100%;
  position: relative;
}

.image-section button {
  position: relative;
  background-color: #f16f3e;
  border: 2px solid #ff9751;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 28px;
  text-align: center;
  color: white;
  height: 60px;
  width: 230px;
  vertical-align: center;
}

.image-section button:hover{
  background-color: #ff9751;
}

input:checked::before {
  content: '✓';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: white;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}









